.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.list-group-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.list-group-item button {
  margin-right: 5px;
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.list-group-item input,
.list-group-item textarea {
  margin-top: 5px;
  padding: 5px;
  width: calc(100% - 20px); /* Adjust according to your needs */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-group-item input:focus,
.list-group-item textarea:focus {
  outline: none;
  border-color: #007bff;
}
